<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="lcpi.data.oledb"/>
      <add name="LCPI OleDb Data Provider" invariant="lcpi.data.oledb" description="LCPI .NET Data Provider for OLE DB" type="lcpi.data.oledb.OleDbFactory, lcpi.data.oledb.net4_5, Version=1.7.0.3395, Culture=neutral, PublicKeyToken=ff716095e8002e7e"/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="SqlServerConn" providerName="Dos.ORM.MySql" connectionString="DataSource=127.0.0.1;Database=test;User Id=root;Password=mysql!@#;"/>
  </connectionStrings>-->
  <appSettings>
    <add key="QueuePath" value=".\Private$\LXS.PCService.CamerInput"/>
    <add key="SqlServerConn" value="server=localhost;user id=root;password=mysql!@#;database=awms_dhl;charset=utf8;pooling=true"/>
    <add key="LightCount" value="6"/>
    <add key="ChannelCount"  value="6"/>
    <add key="InitDataBase" value="false"/>
    <add key="LightServerPort" value="4001"/>
    <add key="ChannelServerPort" value="4002" />
    <add key="CameraServerPort" value="4000" />
  </appSettings>

</configuration>
