<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cave.IO" version="1.0.2" targetFramework="net461" />
  <package id="Cave.TcpServer" version="1.0.6" targetFramework="net461" />
  <package id="Chloe" version="3.8.1" targetFramework="net461" />
  <package id="Chloe.MySql" version="3.8.1" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="Dos.Common" version="2.7.0" targetFramework="net45" />
  <package id="Dos.ORM" version="1.15.0" targetFramework="net45" />
  <package id="Dos.ORM.MySql" version="2.1.0" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.5.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.5.0" targetFramework="net461" />
  <package id="lcpi.data.oledb" version="1.7.0.3395" targetFramework="net45" requireReinstallation="True" />
  <package id="lcpi.lib" version="2.1.0.1660" targetFramework="net45" requireReinstallation="True" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net45" />
  <package id="NLog" version="4.6.2" targetFramework="net461" />
  <package id="NLog.Config" version="4.6.2" targetFramework="net461" />
  <package id="NLog.Schema" version="4.6.2" targetFramework="net461" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net461" />
  <package id="Prism.Unity" version="7.1.0.431" targetFramework="net461" />
  <package id="Prism.Wpf" version="7.1.0.431" targetFramework="net461" />
  <package id="SingletonBase" version="0.1.2" targetFramework="net461" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net461" />
  <package id="Unity.Container" version="5.8.11" targetFramework="net461" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net461" />
</packages>